
.social {
    margin: 6px;
    height: 25px;
    width: 25px;
    float: right;
    margin-top: 10px;
}

.upperheader{
    height: 41px;
    margin-left: 16px;
    margin-right: 16px;
}

.bg-darkgray{
    background-color: rgb(20,20,20);
}

.bg-lightblack{
    background-color: rgb(25,25,25);
}

.card-margin{
    margin:5%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    width: 23%;
    height: auto;   
}
#front.row{
    margin:0;
}

